<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ANGULAR </title>
</head>
<body>
  
      <h1>Escribe un nombre</h1>
      <input type="text" [(ngModel)]= title>
      <input type="text" [(ngModel)]= num1>
      <input type="text" [(ngModel)]= num2>
      <h1> {{title}}</h1>

      <div *ngIf="num1 > num2">
          el numer {{num1}} es mayor a {{num2}};
      </div>

      <div *ngIf="num2 > num1">
        el numer {{num2}} es mayor a {{num1}};
      </div>

      <h1>uso ng For</h1>
      <input type="text" [(ngModel)]=name>
      <button (click)="addName(name)">Add</button>
       
      <ul>
        <li *ngIf="nombres.length === 0"> La lista esta vacia</li>
        <li *ngFor="let nombres of nombres; index as indice">
           {{indice}} {{nombres}}
           <button (click)="deleteName(indice)">Delete</button>
        </li>
      </ul>

      <input type="text" [(ngModel)]= power>
      {{power | exponential}}

      <strong>Total {{total}} </strong>

      <div class="product-container">
          <app-product appHighlight *ngFor="let product of products" (addedProduct)="addecart($event)" [prod]="product"></app-product>
      </div>
</body>
</html> 
